<% provide(:title, "Overwatch Heroes") %>

<div class="container">
  <div class="heroe_title">
    <%= link_to 'https://playoverwatch.com/', :target => "_blank" do%>
      <%= image_tag "overwatch_logo.png", alt: "Overwatch Logo", class: "ow_logo" %>
    <% end %>
      <h1>Overwatch Heroes</h1>
    <%= link_to 'https://dojomadness.com/', :target => "_blank" do%>
      <%= image_tag "dojo_logo.png", alt: "Dojo Madness Logo", class: "dojo_logo" %>
    <% end %>
  </div>

  <div class="container">
    <div class="search">
      <%= form_tag(root_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Hero" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>

  <%= render 'heroes' %>
  <%= render 'call_to_action' %>

</div>
